
 .button {
    background-color: #ff7300;
    border-radius: 5px;
    border: 1px solid #ff7300;
    display: inline-block;
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    line-height: 70px;
    text-align: center;
    width: 270px;
    text-transform: uppercase;
   
  }

  .link {
    color:#ff7300 !important;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    
  }


.header { 
  background: #3d3d3d;
  background-color: #3d3d3d;

  .columns {
    padding-top: 24px;
    padding-bottom: 5px;
  }


  h2 {
    font-size: 15px;
    padding-right: 16px; 
    color: #ffffff;
    text-transform: uppercase;
    font-weight:700;

    .logo {
      color:#3478c3;
    }

    .vip {
      color:#f87102;
    }
  }

}



.fandango-vip {
   background: #000000;
  background-color: #000000;
}

.points-vip {
   background: #000000;
   background-color: #000000;

   h3 {
      color:#ffffff;
      font-weight: 700;
      font-size: 20px;
      padding-bottom:5px;
    }

}



.tickets-button {
   background: #000000;
   background-color: #000000;
   
   .columns {
     padding: 30px 0px !important;
   }

   a {
     color: #ffffff;
     
   }

}


.amc {
  background: #ffffff;
   background-color: #ffffff;

   a {
    color: #ffffff !important;
    
  }
  

   h3 {
     text-transform: uppercase;
     font-weight:800;
     padding-bottom:20px;
     font-size:18px;
   }


  p {
    font-weight: 800;
    padding-top:20px;
    display:inline-block;
  }

 img {
    display: inline-block !important;
  }
}



.clips {
  padding-top:100px;
}



.vip-button {
   background: #ffffff;
   background-color: #ffffff;
   
   .columns {
     padding: 30px 0px !important;
   }

    a {
     color: #ffffff;
    
   }
}

 .movies-1 {
  background: #e3e3e3;

  img {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0 auto;
  }

 

 }



 .movies-2 {
  background: #e3e3e3;

  img {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0 auto;
  }

 }


 .vip-button-2 {
  background: #e3e3e3;
  background-color: #e3e3e3;
  
  .columns {
    padding: 30px 0px !important;
  }

   a {
    color: #ffffff;
  }

}


.pre-release {
  background: #e3e3e3;
  background-color: #e3e3e3;
  .columns {
    padding-bottom: 10px;
  }
  img {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    margin: 0 auto;
  }

   a {
     
     padding-bottom: 15px !important;
   }
}



.footer {
  background: #3d3d3d;
  background-color: #3d3d3d;
}

.footer img {
  padding-top: 30px;
  width: 70px;
}



.footer h3 {
  font-size: 14px !important;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
  color: #ffffff;
  font-weight: 700;
}


.footer-2 {
  .columns {
    padding: 20px 30px !important;
  }

  p {
    line-height: 30px;
  }
}