

.header { 
  background: #3d3d3d;
  background-color: #3d3d3d;

  .columns {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  h2 {
    font-size: 15px;
    padding-right: 16px; 
    padding-top:8px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight:700;

    .logo {
      color:#3478c3;
    }

    .vip {
      color:#f87102;
    }
  }

}

.fandango-vip {
   background: #000000;
  background-color: #000000;
}

.points-vip {
   background: #000000;
   background-color: #000000;

   h3 {
      color:#ffffff;
      font-weight: 700;
      font-size: 20px;
      padding-bottom:5px;
    }

}



